<div>
    <div class="comment_form"></div>
    <div class="comments_list">
        <div ng-repeat="comment in comments" >
            <div class="expandable" ng-model="expanded" ng-init="expanded=false">
                <div class="bs-callout comment_row" data-comment="comment"></div>
                <div class="child_comments" ng-repeat="child1 in comment.children" ng-show="expanded">
                    <div class="bs-callout comment_row" data-comment="child1"></div>
                    <div class="child_comments" ng-repeat="child2 in child1.children">
                        <div class="bs-callout comment_row" data-comment="child2"></div>
                        <div class="child_comments" ng-repeat="child3 in child2.children">
                            <div class="bs-callout comment_row" data-comment="child3"></div>
                            <div class="child_comments" ng-repeat="child4 in child3.children">
                                <div class="bs-callout comment_row" data-comment="child4"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
